#container {
    display: grid;
    border: solid 1px;
    width: 800px;
    height: 800px;
    padding: 10px;
    grid-gap: 0;
    grid-template-columns: repeat(60, 1fr);
    grid-template-rows: repeat(60, 1fr);
}

#box {
    border: solid 0.1px grey;
    background-color: white;
    width: 10px;
    height: 10px;
    margin: 0;
}

#reset-btn {
    margin-top: 10px;
}
